.Top_menu li {
  display: inline-block;
}

header { 
display: flex; 
justify-content: center;
box-shadow: 0px 0px 5px black;
border-radius: 45px;
width: 550px;
margin-top: 30px;
height: 50px;


 }

 .Top_menu a{ 
 font-size:  20px; 
 padding-top: 29px;
 color: white;
 margin: 30px;
 vertical-align: middle;
 text-decoration: none;
 transition: 0.3s;
 font-family: "FontAwesome";
}


.Top_menu a:hover {
  transition: 0.3s;
  font-size: 19px;
  color: #d4006d;
}


.Logo  {
  display: inline-block;
  margin-right: 20px;
 vertical-align: middle;

}

.Top_menu {
	display: inline-block;
	 vertical-align: middle;
	margin-left: 40px;
}


.Logo img {
	width: 40px;
	height: 40px;
	position: absolute;
	margin-top: -13px;
}

